{% extends 'template.html.twig' %}

{% block title %}List of Publications{% endblock %}

{% block body %}
    <h1>List of Publications</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Publication Name</th>
                <th>Publisher</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for publication in publications %}
                <tr>
                    <td>{{ publication.title }}</td>
                    <td>{{ publication.authorNames|join(', ') }}</td>
                    <td>{{ publication.publicationName }}</td>
                    <td>{{ publication.publisher }}</td>
                    <td>{{ publication.coverDate|date('Y-m-d') }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">No publications found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}